@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    overflow: hidden ;
    font-style: normal;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEDED;

}
.main-container{ 
    width: 100%;
    height: 100%;
    padding: 2vh;
}
.child-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-add-quantity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}
.main-deduct-quantity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}
#add-quantity{
    display: flex;
    width: 100%;
    padding: 2vh;
    
}
#deduct-quantity{
    
    width: 100%;
    padding: 2vh;
}
.make-label-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.make-label-center h1{
    font-size: x-large;
    font-weight: bold;
}
.make-label-center h2{
    font-size: medium;
    font-weight: 300;
}
.make-textbox-center{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
   
}
.make-textbox-center input{
    border-radius: 3px;
    height: 20px;
    background-color: #EEEDED;
    border:1px solid #ccc;
}
.make-textbox-center button{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
.add-btn{
    background-color: #3A7D44;
    
}
.deduct-btn{
    background-color: #D84040;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    
}
.nav-btn{
    flex-direction: row;
}
nav h1{
    font-size: 4rem;
}
nav button{
    height: 100%;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}
#add-product{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}
#deduct-product{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}
#add-product-main{
    background-color: #3A7D44;
    cursor: pointer;
}
#deduct-product-main{
    cursor: pointer;
    background-color: #D84040;
}
.main-form-container{
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
}

#add-container{
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius:10px;
    width: 400px;
    height: 250px;
    display: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}
.semi-add-container{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;



}
.add-container-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 10px;

}
.back-btn-container{
    width: 100%;
    height: 30px;
}
#add-container h1{
    font-size: x-large;
}
.scan-qr{
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
.fillup-form{
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.add-container-child button{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #213555;
    color: white;
    padding: 10px;
}

.add-container-child h1{
    padding-bottom: 10px;
}
#back-add-container{
    background-color: #D84040;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}
.add-container-child button:hover{
    background-color: #007bff;
}
.add-product{
    margin-right: 10px;
    
}


#add-new-container{
    min-height: 300px;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}
#addProductForm h2{
    align-self: center;
}
#addProductForm select{
height: 30px;
border-radius: 5px;
border: none;
background-color: #f5f5f5;

}
#addProductForm input{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
}
#addProductForm textarea{
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
}
#addProductForm .submit-btn{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #3A7D44;
    color: aliceblue;
    margin-top: 30px;
}
.close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.close-btn button{
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #D84040;
    color: aliceblue;
    padding: 5px;
    margin-bottom: 10px;
}
.form-close-btn{
    border-radius: 5px;
    border: none;
    background-color: #D84040;
    color: aliceblue;
    padding: 5px;
    margin-bottom: 10px;
    width: 96%;
    
}
#add-product, #deduct-product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;

}
#start-scan-add, #start-scan-deduct{
    height: 50px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #213555;
    color: aliceblue;
    padding: 5px;
    cursor: pointer;
}

#start-scan-add:hover, #start-scan-deduct:hover{
    background-color: #0056b3;
}

#start-scan-add:active, #start-scan-deduct:active{
    background-color: cadetblue;
}

.scan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.add-container-child btn{
    background-color: #213555;
}

.add-container-child btn:hover{
    background-color: #0056b3;
}